<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define UpgradeGuid="DC37123C-3943-4A80-93AC-83837FED1947" ?>
  <?define Version="2.1.0"?>

  <Product Id="*" Name="Active Directory Connect Client" Language="1033" Version="$(var.Version)" Manufacturer="SchulIT" UpgradeCode="$(var.UpgradeGuid)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />

    <!-- Icon for Programs & Features -->
    <Icon Id="icon.ico" SourceFile="icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <!-- APPLICATION DIRECTORY -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="VENDORFOLDER" Name="SchulIT">
          <Directory Id="APPLICATIONFOLDER" Name="Active Directory Connect Client">
            <Directory Id="GUI_INSTALLLOCATION" Name="GUI" />
          </Directory>
        </Directory>
      </Directory>

      <!-- STARTMENU -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MyShortCutsDir" Name="SchulIT">
          <Component Id="ShortCutComponent" Guid="7961A55E-DF13-461B-BB2B-55BB1E4A63AA">
            <Shortcut Id="ShortCutGUI" Name="Active Directory Connect Client" Target="[GUI_INSTALLLOCATION]\ConnectClient.Gui.exe" Icon="icon.ico" />
            <RemoveFolder Id="RemoveShortCut" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\SchulIT\ADConnectClient" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="Active Directory Connect Client" Level="1">
      <ComponentGroupRef Id="GuiSourceComponentGroup" />

      <Feature Id="ShortcutFeature" Title="Startmenü-Verknüpfung" Level="1">
        <ComponentRef Id="ShortCutComponent"/>
      </Feature>
    </Feature>

    <!-- PREVENT DOWNGRADING -->
    <MajorUpgrade DowngradeErrorMessage="Downgrading nicht möglich. Bitte zunächst die Software deinstallieren und danach erneut probieren." />

    <UIRef Id="WixUI_Advanced" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="VendorFolderName" Value="SchulIT" />
    <Property Id="ApplicationFolderName" Value="Active Directory Connect Client" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="Eula.rtf" />

    <SetDirectory Id="APPLICATIONFOLDER" Value="[ProgramFiles64Folder][VendorFolderName]\[ApplicationFolderName]">APPLICATIONFOLDER=""</SetDirectory>
	</Product>
</Wix>
