<nlog>
  <targets>
    <target type="ColoredConsole" errorStream="true"  enableAnsiOutput="true"  name="consoleTarget" layout="${longdate}|${level:uppercase=true}|${logger}: ${message} ${exception}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
  </rules>
</nlog>